._gb_iframe {
  background: #fff;
  height: 500px;
  margin-top: -18px;
  position: relative;
  width: 615px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 2px solid #FE9400;
  overflow: auto;
}

._gb_iframe_wrapper {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 90000;
  background-color: rgba(0,0,0,0.42);
}

._gb_iframe_container {
  height: 620px;
  margin: 0 auto;
  position: relative;
  text-align: left;
  width: 638px;
  z-index: 2;
  top: 50px;
}

._gb_iframe_opened {
  opacity: 1;
  transition: all .3s ease-in-out;
}

._gb_iframe_closed {
  opacity: 0;
  transition: all .3s ease-in-out;
  display: none !important;
}


._gb_btn_close_popup_action, ._gb_btn_close_popup_action:hover {
  background-color: #eee;
  border: 0;
  cursor: pointer;
  font-family: 'Verdana', 'Arial', 'sans-serif';
  text-align: center;
  padding: 2px 5px 6px;
  position: absolute;
  top: -16px;
  right: 25px;
  width: 40px;
  color: #444;
  text-decoration: none;
  -moz-border-radius: 0 2px;
  border-radius: 0 2px;
  z-index: 1;
  font-size: 16px;
}
